# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Testing
.coverage
.tox/
htmlcov/

# Tools
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/
*.sublime-*
*.swp
*.swo
*.*~

# macOS
.DS_Store

# Database (example apps)
*.sqlite
